body {
    margin-left: 221px;
  }
  .header {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-controls {
    display: flex;
    align-items: center;
  }
  .header-controls label {
    margin-right: 5px;
    color: #fff;
    font-size: 18px;
  }
  .header-controls select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  .nuevoUsuario {
    background-color: #00af06;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
  }
  .nuevoUsuario:hover {
    background-color: #64d86a;
  }
  /* Estilos de la tabla de usuarios */
  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
  }
  .table th{
    border: 1px solid #000000;
    text-align: center;
    font-size: 11px;
    background-color: rgba(3, 22, 92, 0.82);
    color: white;
  }
  
  .table td{
    border: 1px solid #151414;
    padding: 10px;
    text-align: center;
    font-size: 11px;
  }
  .delete-button, .edit-button {
    background-color: #c70303;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 3px;
  }
  .edit-button {
    background-color: #0f1fac;
  }
  .pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }