.pagination-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
  }
  /* Estilo para los íconos de ordenamiento */
  .sort-icon {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    margin-top: -20px;
    vertical-align: middle;
    font-size: 12px;
  }
  .sort-icon.fa-chevron-up::before {
    content: "\2191";
    color: rgba(10, 7, 212, 0.849);
  }
  .sort-icon.fa-chevron-down::before {
    content: "\2193";
    color: red;
  }
  
  .table-cell-id {
    min-width: 65px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .table-cell-acciones {
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .button-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-button {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .historial-image {
    max-width: 32px;
    max-height: 32px;
  }
  /* Estilos del mensaje de éxito */
  .success-alert {
    background: #12cc7e;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    font-size: 24px;
    text-align: center;
  }
  .success-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  /* Estilos del modal de confirmación */
  .confirmation-modal {
    position: fixed;
    top: 50%;
    left: 55%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: #00000021;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  