.modal-content {
    background: #12cc7e;
    border-radius: 5px;
    padding: 20px;
    color: white;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 30%;
  }
  
  .modal-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .cancel-button, .confirm-button {
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  .cancel-button {
    background-color: #c70303;
    color: #fff;
  }
  .confirm-button {
    background-color: #0f1fac;
    color: #fff;
  }
  .confirm-button:hover, .cancel-button:hover {
    background-color: #0056b3;
  }
  /* Contenido principal */
  .content {
    margin-top: 6px;
  }
  /* Input de búsqueda y filtro */
  .search-and-filter {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 3px;
  }
  .table-container {
    width: 100%;
    max-height: 480px; /* Altura máxima para habilitar desplazamiento vertical */
    overflow-x: auto; /* Riel de desplazamiento horizontal si es necesario */
    overflow-y: auto; /* Riel de desplazamiento vertical si es necesario */
  }
  
  .perfil-image {
    width: 40px; /* Ancho de la imagen en píxeles */
      height: 40px; /* Altura de la imagen en píxeles */
      border-radius: 50%;
  }
  
  th span {
    vertical-align: middle; /* Alinea verticalmente los elementos span al centro */
  }
  
  .historial-image {
    width: 32px;
    height: 32px;
  
  }
  
  