<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacto</title>
<style>

  
</style>
</head>
<body>

<div class="contact-section" id="contactarme">
  <div class="contact-heading">
    <h2>Contactanos</h2>
    <div class="divider"></div>
  </div>
</div>

<div class="container-contact">
  <div class="contact-info">
    <h3>Somos la mejor granja de San Lucas Toliman</h3>
    <p>Dirección: 6a avenida 5-09 zona 1 San Lucas Toliman</p>
    <p>Teléfono: 41802220-42676447</p>
    <p>Correo: carlosvicente25@hotmail.com, karynmaritza@gmail.com</p>
  </div>

  <div class="contact-form">
    <h4 class="brands1">Enviame un mensaje...</h4>
    <form class="form-group" action="https://formsubmit.co/karynmaritza@gmail.com" method="POST">
      <input type="text" name="nombre" placeholder="Nombre" id="nombre" class="form-input" required>
      <input type="email" name="email" placeholder="Escribe tu correo" id="email" class="form-input" required>
      <textarea name="message" placeholder="Escribe tu mensaje..." class="form-input" required></textarea>
      <button type="submit" class="btn-submit">ENVIAR MENSAJE</button>
    </form>
  </div>
</div>

</body>
</html>

