body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .contact-section {
    background-color: #3498db; /* Fondo azul */
    padding: 40px 0;
    text-align: center;
    color: #fff; /* Texto blanco */
    position: relative;
  }
  
  .contact-heading {
    margin-bottom: 20px;
  }
  
  .contact-heading h2 {
    font-size: 24px;
  }
  
  .divider {
    width: 50px;
    height: 2px;
    background-color: #fff; /* Línea blanca */
    margin: 0 auto;
  }
  
  .container-contact {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1; /* Para que esté por encima del fondo */
  }
  
  .contact-info {
    flex-basis: 40%;
  }
  
  .contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-form {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex-basis: 55%;
  }
  
  .brands1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn-submit {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .btn-submit:hover {
    background-color: #555;
  }
  