/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
    font-size: 25px;
}

/* Estilos para la imagen ilustrativa */
.image-container {
    float: right;
    margin: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

/* Estilos para el título de servicios */
.tituloss {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
}

/* Estilos para el pie de página */

.footer {
    background-color: #ffffff;
    color: #777;;
    text-align: center;
    padding: -50px; /* Añadido un poco más de espacio en el padding */
    margin-top: 60px; /* Añadido margen superior para separarlo del contenido anterior */
}