
<head>
    <title>Listado de Usuarios</title>
</head>
<body>
    <header class="header">
        <h1 class="titulo">Usuarios</h1>
        <div class="header-controls">
            <label for="pageSize">Ver registros por:</label>
            <select id="pageSize" [(ngModel)]="pageSize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="500">500</option>
            </select>
            <button class="nuevoUsuario" (click)="openNuevo()">Nuevo Usuario</button>
        </div>
    </header>
    <main class="content">
      <div class="search-and-filter">
        <input type="text" [(ngModel)]="searchText" placeholder="Buscar...">
      </div>
      <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th (click)="sortTable('id')">
                        <span>ID</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'id' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'id' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('nombre')">
                        <span>NOMBRE</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'nombre' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'nombre' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('fechaIngreso')">
                        <span>FECHA DE INGRESO</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'fechaIngreso' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'fechaIngreso' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('fechaVencimiento')">
                        <span>FECHA DE VENCIMIENTO</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'fechaVencimiento' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'fechaVencimiento' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('observacion')">
                        <span>OBSERVACION</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'observacion' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'observacion' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('origenGenetico')">
                        <span>ORIGEN GENÉTICO</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'origenGenetico' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'origenGenetico' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('lote')">
                        <span>LOTE</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'lote' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'lote' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('cantidad')">
                        <span>CANTIDAD</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'cantidad' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'cantidad' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('calidad')">
                        <span>CALIDAD</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'calidad' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'calidad' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th (click)="sortTable('temperaturaAlmacenamiento')">
                        <span>TEMPERATURA ALMACENAMIENTO</span>
                        <span class="sort-icon" [ngClass]="{'fa-chevron-up': sortedColumn === 'temperaturaAlmacenamiento' && sortDirection === 1, 'fa-chevron-down': sortedColumn === 'temperaturaAlmacenamiento' && sortDirection === -1}">&#8597;</span>
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contenedorLocal of visible">
                    <td class="table-cell-id">{{ contenedorLocal.id }}</td>
                    <td class="table-cell">{{ contenedorLocal.nombre }}</td>
                    <td class="table-cell">{{ contenedorLocal.fechaIngreso }}</td>
                    <td class="table-cell">{{ contenedorLocal.fechaVencimiento }}</td>
                    <td class="table-cell">{{ contenedorLocal.observacion }}</td>
                    <td class="table-cell">{{ contenedorLocal.origenGenetico }}</td>
                    <td class="table-cell">{{ contenedorLocal.lote }}</td>
                    <td class="table-cell">{{ contenedorLocal.cantidad }}</td>
                    <td class="table-cell">{{ contenedorLocal.calidad }}</td>
                    <td class="table-cell">{{ contenedorLocal.temperaturaAlmacenamiento }}</td>
                    <td class="table-cell-acciones">
                        <button class="delete-button" (click)="showDeleteConfirmation(contenedorLocal)">Eliminar</button>
                        <button class="edit-button" (click)="editar(contenedorLocal)">Editar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div>

        <div class="pagination-controls">
            <button class="pagination-button" (click)="previousPage()">Anterior</button>
            <button class="pagination-button" (click)="nextPage()">Siguiente</button>
        </div>

        <div class="confirmation-modal" *ngIf="showConfirmationModal">
            <div class="modal-content">
                <p>¿Estás seguro de que deseas eliminar el barraco {{ ToDelete?.nombre }}?</p>
                <button class="confirm-button" (click)="confirmDelete()">Confirmar</button>
                <button class="cancel-button" (click)="cancelDelete()">Cancelar</button>
            </div>
        </div>
    </main>
</body>
