.cancel-button, .confirm-button {
    border: none;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
  }
  .cancel-button {
    background-color: #c70303;
    color: #fff;
  }
  .confirm-button {
    background-color: #0f1fac;
    color: #fff;
  }
  .confirm-button:hover, .cancel-button:hover {
    background-color: #0056b3;
  }
  /* Contenido principal */
  .content {
    margin-top: 6px;
  }
  /* Input de búsqueda y filtro */
  .search-and-filter {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 3px;
  }
  .table-container {
    width: 100%;
    max-height: 480px; /* Altura máxima para habilitar desplazamiento vertical */
    overflow-x: auto; /* Riel de desplazamiento horizontal si es necesario */
    overflow-y: auto; /* Riel de desplazamiento vertical si es necesario */
  }
  /* Clase para celdas cargadas */
  .cargada {
  background-color: rgb(192, 192, 192); /* Puedes cambiar el color a tu elección */
  color:rgb(0, 0, 0);
  }
  
  /* Clase para celdas no cargadas */
  .no-cargada {
  background-color: rgb(255, 184, 52); /* Puedes cambiar el color a tu elección */
  color: #000000;
  }
  
  /***SEMAFORO*/
  
  .status-and-search {
    display: flex; /* Utilizamos flexbox para poner los elementos en una fila */
    justify-content: space-between; /* Alinea los elementos a los extremos (izquierda y derecha) */
  }
  
  .status-indicators {
    display: flex; /* Utilizamos flexbox para poner los elementos en una fila */
  }
  
  .status-indicator {
    margin-right: 10px; /* Espaciado entre los indicadores (ajusta según sea necesario) */
  }
  
  .status-circle {
    width: 20px; /* Ajusta el tamaño del círculo según tus necesidades */
    height: 20px;
    border-radius: 50%;
  }
  
  .cargada {
    background-color: rgb(192, 192, 192);  /* Cambia el color a gris según tus necesidades */
  }
  
  .noCargada {
    background-color: orange; /* Cambia el color a naranja según tus necesidades */
  }
  