.container {
  width: 800px;
  height: 550px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0) url('/assets/formulario.jpg') ;
  border-radius: 8px;
  padding: 50px;
}
.titulo {
  text-align: center;
  font-size: 24px;
  color: #333;
}
.form-group {
  margin-bottom: 20px;
}
.form-group1 {
  margin-bottom: 15px;
}
label {
  font-weight: bold;
  color: #555;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
  margin-top: -64px;
  margin-left: 355px;
  width: 150px;
  font-size: 14px;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.btn-danger {
  background-color: #dc3545;
  color: #fff;
  margin-left: 180px;
  margin-top: 20px;
  width: 150px;
  font-size: 14px;
}

.btn-danger:hover {
  background-color: #c82333;
}



/* Establece estilos para la flecha indicadora de FontAwesome */
.select-indicator {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
}

.form-flexbox {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 1;
  padding: 10px;
}


/*ETIQUETAS O PESTAÑAS DE PERMISOS*/
.switch-label {
  /* Configura el contenedor de cada pestaña */
  position: relative;
  display: inline-block;
  width: auto; /* Ancho automático para ajustarse al contenido */
  height: 12px;
  margin-right: 10px;
  vertical-align: middle; /* Alinea verticalmente el contenido */
}

