.container {
  width: 800px;
  height: 500px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 50px;
}
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}
.titulo {
  text-align: center;
  font-size: 24px;
  color: #333;
}
.form-group {
  margin-bottom: 20px;
}
label {
  font-weight: bold;
  color: #555;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: -10px;
  margin-left: 19px;
  margin-right: 17px;
}
.btn-primary {
  background-color: #007bff;
  color: #fff;
  margin-top: 20px;
  margin-left: 140px;
  width: 160px;
}
.btn-danger:hover {
  background-color: #6a60f0;
}
.btn-danger {
  background-color: #dc3545;
  color: #fff;
  margin-left: 10px;
  margin-top: 78px;
  width: 160px;
}
.btn-danger:hover {
  background-color: #c82333;
}
.select-indicator {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajusta el espacio entre la flecha y el borde derecho */
  transform: translateY(-50%);
  pointer-events: none; /* Evita que la flecha sea clickeable */
  color: #555; /* Color de la flecha */
}
.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centra verticalmente en toda la altura de la ventana */
  position: fixed;
  top: -30px;
  left: 100px;
  right: 0;
  bottom: 0;
  z-index: 999; /* Coloca el mensaje por encima del contenido */
}
.success-message {
  font-size: 24px; /* Tamaño del mensaje */
  text-align: center;
  background: #12cc7e;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(255, 254, 254, 0);
  
}
.success-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.form-flexbox {
  display: flex;
  justify-content: space-between;
}
.form-column {
  flex: 1;
  padding: 10px;
}