<header class="navbar navbar-expand-lg navbar-dark header navar">

  <a class="navbar-brand" href="#">
    <img src="/assets/Logotipo.png" alt="Logo de la empresa" class="logo">
    GRANJA SANTA SOFÍA
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" routerLink="inicio" routerLinkActive="active">Inicio</a>
      <a class="nav-link" routerLink="ingresoSistema" routerLinkActive="active">Ingresar al Sistema</a>
    </div>
  </div>
</header>
<router-outlet></router-outlet>



