


.custom-button {
  background: none;
  border: none;
  cursor: pointer;
}
.historial-image {
  max-width: 32px;
  max-height: 32px;
}
.success-alert {
  background: #12cc7e;
  color: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  font-size: 24px;
  text-align: center;
}
.success-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
/* Estilos del modal de confirmación */
.confirmation-modal {
  position: fixed;
  top: 50%;
  left: 55%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: #00000021;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background: #12cc7e;
  border-radius: 5px;
  padding: 20px;
  color: white;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 30%;
}
.modal-content p {
  font-size: 16px;
  margin-bottom: 20px;
}
.cancel-button, .confirm-button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}
.cancel-button {
  background-color: #eb2424;
  color: #fff;
}
.confirm-button {
  background-color: #0f1fac;
  color: #fff;
}
.confirm-button:hover, .cancel-button:hover {
  background-color: #0056b3;
}
.content {
  margin-top: 6px;
}
.search-and-filter {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 3px;
}
.table-container {
  max-width: 3480px;
  max-height: 480px; /* Altura máxima para habilitar desplazamiento vertical */
  overflow-x: auto; /* Riel de desplazamiento horizontal si es necesario */
  overflow-y: auto; /* Riel de desplazamiento vertical si es necesario */
}
.proxima-parto {
  background-color: rgb(255, 0, 0); /* Cambia el color a tu elección (amarillo) */
  color: black; /* Cambia el color de texto si es necesario */
}
.dos-dias {
  background-color: rgb(255, 149, 0); /* Cambia el color a tu elección (rojo) */
  color: rgb(0, 0, 0); /* Cambia el color de texto si es necesario */
}
.ocho-dias {
  background-color:rgb(92, 238, 92);/* Cambia el color a tu elección (naranja) */
  color: black; /* Cambia el color de texto si es necesario */
}
.mas-de-quince-dias {
  background-color: rgb(92, 238, 92); /* Cambia el color a tu elección (verde) */
  color: rgb(0, 0, 0); /* Cambia el color de texto si es necesario */
}
.fecha-pasada {
  background-color: rgb(192, 192, 192);  /* Cambia el color a tu elección (gris) */
  color: rgb(0, 0, 0); /* Cambia el color de texto si es necesario */
}
.status-and-search {
  display: flex; /* Utilizamos flexbox para poner los elementos en una fila */
  justify-content: space-between; /* Alinea los elementos a los extremos (izquierda y derecha) */
}
.status-indicators {
  display: flex; /* Utilizamos flexbox para poner los elementos en una fila */
}
.status-indicator {
  margin-right: 10px; /* Espaciado entre los indicadores (ajusta según sea necesario) */
}
.status-circle {
  width: 20px; /* Ajusta el tamaño del círculo según tus necesidades */
  height: 20px;
  border-radius: 50%;
}
.proximo {
  background-color: red; /* Círculo rojo para "Próximo" */
}
.anaranjado {
  background-color: orange; /* Círculo naranja para "Más de 2 días" */
}
.verde {
  background-color: green; /* Círculo verde para "Más de 8 días" */
}
.gris {
  background-color: gray; /* Círculo gris para "Pasado" */
}
.clear-background {
  background: transparent; /* Fondo claro para el buscador */
}

