.form-controlL {
  color: white;
  width: 100%; /* Ajusta el ancho del input al 100% del espacio de la celda */
  border: 1px solid #ffffff; /* Contorno del input */
  padding: 7px;
  background-color:#434141;
  font-size: 12px;
}
.form-controlO {
  width: 100%; /* Ajusta el ancho del input al 100% del espacio de la celda */
  border: 1px solid #000; /* Contorno del input */
  padding: 7px;
  font-size: 10px;
}
/**************************************************TABLA PARTO***********************************************************************/
/* Estilo para el contenedor de la tabla */
.table-containerTratamientoP {
  width: 620px; /* Ancho de la tabla */
  overflow: hidden; /* Oculta el desbordamiento horizontal */
  position: absolute; /* Cambiamos la posición a absolute */
  top: 300px; /* Ajusta la posición superior según tus necesidades */
  left: 670px; /* Ajusta la posición izquierda según tus necesidades */
  border: 1px solid #ccc; /* Añade un borde según tus necesidades */
  z-index: 1; /* Ajusta el valor de z-index para que aparezca por encima de otros elementos según tus necesidades */
}

/* Estilo para la tabla */
.tableTratamientoP {
  width: 100%; /* Ancho de la tabla */
  border-collapse: collapse;
}
.titulos{
  background-color:#434141;
  color: white;
  width: 100%;
  padding: 2px;
  font-size: 12px;
}
/* Estilo para el desplazamiento (riel) */
.table-scrollP{
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal */
  max-width: 670px; /* Establece un ancho máximo para el contenedor de desplazamiento */
  max-height: 300px;
}

/* Estilo para el encabezado de la tabla (los títulos) */
.table-headP {
  background-color: #434141;
  color: rgb(0, 0, 0);
  position: sticky; /* Mantiene el encabezado fijo */
  top: 0; /* Fija el encabezado en la parte superior del contenedor */
  z-index: 1; /* Evita que el contenido lo cubra */
  padding: 2px;
  width: 150px;
}

/* Estilo para las celdas de la tabla */
.tableTratamientoP th, .tableTratamientoP td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 2px;
  font-size: 9px;
  width: 90px;
}

/* Estilo para las filas impares */
.tableTratamientoP tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilo para las celdas de fecha (anteriormente formateadas) */
.tableTratamientoP td.table-cell {
  width: 120px;
  background-color: #f2f2f2;
}

.mostrar {
  display: table-row; /* Muestra la fila */
}

.ocultar {
  display: none; /* Oculta la fila */
}