.container {
    width: 5500px;
    height: 680px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0) url('/assets/formulario.jpg') ;
    border-radius: 8px;
   padding: 3px;
  }
  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border-radius: 10px;
    border: 3px solid #ffdd00; 
  }

  .edit-button {
    background-color: #0b00a7;
    color: #fff;
    border-radius: 10px;
    border: 3px solid #ffdd00; 
    
  }
  .header {
    display: flex;
    justify-content: space-between; /* Coloca los elementos en ambos extremos */
    align-items: center; /* Centra verticalmente los elementos */
    background-color:#434141;
  }
  .nuevo {
    padding: 1px 1px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 190px;
    height: 22px;
    font-size: 12px;
    border: 3px solid #000000; 
  }
  .nuevo:hover {
    background-color: #009dff;
  }
  .btn {
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .titulo {
    text-align: center;
    font-size: 20px;
    color: #333;
    padding: 2px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  

  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: -10px;
    margin-left: 19px;
    margin-right: 17px;
  }
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    margin-top: 15px;
    margin-left: 170px;
    width: 160px;
  }
  .btn-danger:hover {
    background-color: #6a60f0;
  }
  .btn-danger {
    background-color: #dc3545;
    color: #fff;
    margin-left: -465px;
    margin-top: -345px;
    width: 160px;
    height: 30px;
    padding: 2px;
  }
  .btn-danger:hover {
    background-color: #e96f7b;
  }

  .btn-success {
    background-color: #199f0d;
    color: #fff;
    margin-left: -265px;
    margin-top: -335px;
    width: 160px;
    height: 30px;
    padding: 2px;
  }
  .btn-success:hover {
    background-color: #22c642;
  }
  
  
  /* Nuevos estilos para el mensaje de éxito */
  /* Estilos para el mensaje centrado */
  .centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centra verticalmente en toda la altura de la ventana */
    position: fixed;
    top: -30px;
    left: 100px;
    right: 0;
    bottom: 0;
    z-index: 999; /* Coloca el mensaje por encima del contenido */
  }
  .success-message {
    font-size: 24px; /* Tamaño del mensaje */
    text-align: center;
    background: #12cc7e;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(255, 254, 254, 0);
    
  }
  .success-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  
  
  
  .form-flexbox {
    display: flex;
    justify-content: space-between;
  }
  
  .form-column {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px; /* Espacio vertical entre las tablas */
  }
  /* Estilo para la cabecera */

/* Estilo para el botón */

  
/********************************************PRIMER TABLA**************************************************************/

  .primer_tabla {
    border-collapse: collapse;
    width: 100%;
    bottom: 50px;
  }

  .form-groupP {
    display: table-row;
    padding-bottom: 50px;
  }

  .label-cell {
    background-color: #e0e0e0;
    font-weight: bold;
    padding: 2px;
    border: 1px solid #000; /* Contorno de la celda */
    font-size: 10px;
  }

  .data-cell {
    padding: 5px;
    border: 1px solid #000; /* Contorno de la celda */
  }

  .form-control {
    width: 100%; /* Ajusta el ancho del input al 100% del espacio de la celda */
    border: 1px solid #000; /* Contorno del input */
    border-radius: 5px; /* Borde redondeado del input */
    padding: 2px;
    font-size: 10px;
  }


  .title-cell {
    background-color: #585555;
    font-weight: bold;
    text-align: center;
    padding: 2px;
    color: white;
    border-bottom: 1px solid #f7f7f7;
    font-size: 12px;
  }

  .title-divider {
    border-bottom: 6px solid #002b7561;
  }
  


/********************************************SEGUNDA TABLA**************************************************************/
.espacio{
  height: 4px;
}
.segunda_tabla2 {
  top: 100px;
  border-collapse: collapse;
  width: 100%;
}

.segunda_tabla2 th,
.segunda_tabla2 td {
  border: 1px solid #000;
  padding: 2px;
  text-align: center;
  font-size: 10px;
}



/* Estilo base para ambos botones */
.botonDinamico {
  width: 160px;
  font-size: 12px;
  height: 30px; /* Ajusta la altura según tus necesidades */
  cursor: pointer; /* Cursor de tipo puntero */
}

/* Estilo para el botón "Editar" cuando modoEdicion es true */
.btn-successi {
  background-color: #007bff;/* Color de fondo verde para "Editar" */
  color: white; /* Texto en blanco */
  border: none; /* Sin borde */
  position: fixed;
  bottom: 630px; /* Ajusta la posición vertical según tus necesidades */
  left: 260px; /* Ajusta la posición horizontal según tus necesidades */

}

/* Estilo para el botón "Nuevo" cuando modoEdicion es false */
.btn-primaryi-left {
  background-color: #007bff; /* Color de fondo azul para "Nuevo" */
  color: white; /* Texto en blanco */
  border: none; /* Sin borde */
  position: fixed;
  bottom: 630px; /* Ajusta la posición vertical según tus necesidades */
  right: 1110px; /* Ajusta la posición horizontal según tus necesidades */
}


.segunda_tabla2 th {
  background-color: #595959;
  font-weight: bold;
  font-size: 12px;
}
.form-controlL {
  color: white;
  width: 100%; /* Ajusta el ancho del input al 100% del espacio de la celda */
  border: 1px solid #ffffff; /* Contorno del input */
  padding: 7px;
  background-color:#434141;
  font-size: 12px;
}
.form-controlO {
  width: 100%; /* Ajusta el ancho del input al 100% del espacio de la celda */
  border: 1px solid #000; /* Contorno del input */
  padding: 7px;
  font-size: 10px;
}
/********************************************TABLA TRATAMIENTOS**************************************************************/
/* Estilo para el contenedor de la tabla */
.table-containerTratamiento {
  width: 620px; /* Ancho de la tabla */
  overflow: hidden; /* Oculta el desbordamiento horizontal */
  position: relative; /* Establece una posición relativa para permitir el posicionamiento absoluto */
}

/* Estilo para la tabla */
.tableTratamiento {
  width: 100%; /* Ancho de la tabla */
  border-collapse: collapse;
}
.titulos{
  background-color:#434141;
  color: white;
  width: 100%;
  padding: 2px;
  font-size: 12px;
}
/* Estilo para el desplazamiento (riel) */
.table-scroll {
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal */
  max-width: 100%; /* Establece un ancho máximo para el contenedor de desplazamiento */
  max-height: 113px;
}

/* Estilo para el encabezado de la tabla (los títulos) */
.table-head {
  background-color: #434141;
  color: rgb(0, 0, 0);
  position: sticky; /* Mantiene el encabezado fijo */
  top: 0; /* Fija el encabezado en la parte superior del contenedor */
  z-index: 1; /* Evita que el contenido lo cubra */
  padding: 2px;
}

/* Estilo para las celdas de la tabla */
.tableTratamiento th, .tableTratamiento td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 2px;
  font-size: 9px;
}

/* Estilo para las filas impares */
.tableTratamiento tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilo para las celdas de fecha (anteriormente formateadas) */
.tableTratamiento td.table-cell {
  width: 120px;
  background-color: #f2f2f2;
}

.mostrar {
  display: table-row; /* Muestra la fila */
}

.ocultar {
  display: none; /* Oculta la fila */
}
/********************************************TABLA RESUMEN PARTO**************************************************************/
/* Aplicar rotación de 90 grados solo a la tabla */
.tableTratamientot {
  transform: rotate(-90deg);
  transform-origin: right top;
  white-space: nowrap;
  margin-left: -245.5px;

}
.rotate-text {
  transform: rotate(90deg); /* Rota el texto en 90 grados */
  transform-origin: center; /* Define el punto de origen de la rotación en el centro */
  white-space: nowrap; /* Evita que el texto se ajuste automáticamente al contenedor */
  width: 60px; /* Ajusta el ancho del botón según sea necesario */
  margin-top: 150px;
}

.espacioP{
  height: -20px;
}

.table-scrollt {
  overflow-x: auto; 
  overflow-y:hidden;
  max-width: 100%; 
  max-height: 295px;
}
/* Ajustar el estilo de las celdas */
.tableTratamientot th, .tableTratamientot td {
  writing-mode: vertical-rl;
  border: 1px solid #ccc;
  text-align: left;
  padding: 2px;
  font-size: 9px;
  background-color: white;
  width: 20px;
  height: 310px;

}

/* Ajusta el estilo del encabezado de la tabla para que no sea estático */
.table-headt th span {
  white-space: nowrap; /* Restablece la propiedad white-space a su valor predeterminado */
  height: auto;
  width: 20px;
  color: rgb(0, 0, 0);
}


/* Restablecer el estilo del encabezado */
/* Estilo para el encabezado de la tabla (los títulos) */
.table-headt {
  background-color: #434141;
  color: rgb(0, 0, 0);
  position: sticky;
  position: -webkit-sticky; /* Para navegadores basados en WebKit (Chrome, Safari) */
  top: 0;
  z-index: 1;
  padding: 2px;
  transform: rotate(0deg); /* Deshacer la rotación */
  transform-origin: left top;
  font-size: 8px;
}

/* Ajusta el estilo del encabezado girado */
.table-headt th {
  writing-mode: vertical-rl;
  white-space: nowrap;
  height: auto;
  width: 20px;
  color: white;
}


/* Estilo para el desplazamiento (riel) */
/* Ajusta el estilo del contenedor de desplazamiento para que los rieles estén más cerca de la tabla */

/* Estilo para el contenedor de títulos */
/**************************************************TABLA PARTO***********************************************************************/
/* Estilo para el contenedor de la tabla */
.table-containerTratamientoP {
  width: 620px; /* Ancho de la tabla */
  overflow: hidden; /* Oculta el desbordamiento horizontal */
  position: absolute; /* Cambiamos la posición a absolute */
  top: 300px; /* Ajusta la posición superior según tus necesidades */
  left: 670px; /* Ajusta la posición izquierda según tus necesidades */
  border: 1px solid #ccc; /* Añade un borde según tus necesidades */
  z-index: 1; /* Ajusta el valor de z-index para que aparezca por encima de otros elementos según tus necesidades */
}

/* Estilo para la tabla */
.tableTratamientoP {
  width: 100%; /* Ancho de la tabla */
  border-collapse: collapse;
}
.titulos{
  background-color:#434141;
  color: white;
  width: 100%;
  padding: 2px;
  font-size: 12px;
}
/* Estilo para el desplazamiento (riel) */
.table-scrollP{
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal */
  max-width: 670px; /* Establece un ancho máximo para el contenedor de desplazamiento */
  max-height: 300px;
}

/* Estilo para el encabezado de la tabla (los títulos) */
.table-headP {
  background-color: #434141;
  color: rgb(0, 0, 0);
  position: sticky; /* Mantiene el encabezado fijo */
  top: 0; /* Fija el encabezado en la parte superior del contenedor */
  z-index: 1; /* Evita que el contenido lo cubra */
  padding: 2px;
  width: 150px;
}

/* Estilo para las celdas de la tabla */
.tableTratamientoP th, .tableTratamientoP td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 2px;
  font-size: 9px;
  width: 90px;
}

/* Estilo para las filas impares */
.tableTratamientoP tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Estilo para las celdas de fecha (anteriormente formateadas) */
.tableTratamientoP td.table-cell {
  width: 120px;
  background-color: #f2f2f2;
}

.mostrar {
  display: table-row; /* Muestra la fila */
}

.ocultar {
  display: none; /* Oculta la fila */
}