
<head>
    <title>Nueva Pacha</title>
</head>
    <div class="container">
        <h1 class="titulo">Nuevo pacha</h1>
        <form (submit)="insertar()" class="form-flexbox">
            <div class="form-column">
                <div class="form-group">
                    <input type="text" id="nombre" [(ngModel)]="contenedorDB.nombre" name="nombre" class="form-control" required placeholder="Nombre del pacha">
                  </div>
                  <div class="form-group">
                    <input type="date" id="fechaIngreso" [(ngModel)]="contenedorDB.fechaIngreso" name="fechaIngreso" class="form-control" required placeholder="Fecha de ingreso">
                  </div>
                  <div class="form-group">
                    <input type="date" id="fechaVencimiento" [(ngModel)]="contenedorDB.fechaVencimiento" name="fechaVencimiento" class="form-control" required placeholder="Fecha de vencimiento">
                  </div>
                  <div class="form-group">
                    <input type="text" id="observacion" [(ngModel)]="contenedorDB.observacion" name="observacion" class="form-control" required placeholder="Observaciones">
                  </div>
                  <div class="form-group">
                    <input type="text" id="origenGenetico" [(ngModel)]="contenedorDB.origenGenetico" name="origenGenetico" class="form-control" placeholder="Origen Genético">
                  </div>
                  <div class="button-container">
                    <button type="submit" class="btn btn-primary">Insertar Pacha</button>
                   
                  </div>

            </div>
         


            <div class="form-column">
                <div class="form-group">
                    <input type="text" id="lote" [(ngModel)]="contenedorDB.lote" name="lote" class="form-control" placeholder="Lote">
                  </div>
                  <div class="form-group">
                    <input type="number" id="cantidad" [(ngModel)]="contenedorDB.cantidad" name="cantidad" class="form-control" placeholder="Cantidad">
                  </div>
                  <div class="form-group">
                    <input type="text" id="calidad" [(ngModel)]="contenedorDB.calidad" name="calidad" class="form-control" placeholder="Calidad">
                  </div>
                  <div class="form-group">
                    <input type="text" id="temperaturaAlmacenamiento" [(ngModel)]="contenedorDB.temperaturaAlmacenamiento" name="temperaturaAlmacenamiento" class="form-control" placeholder="Temperatura de Almacenamiento">
                  </div>
                  <div class="button-container">
                  
                    <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
                  </div>

            </div>
          </form>    
    </div>


