<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">

        <header class="hero">
            <section class="hero-content">
                <h1 class="hero-title">Bienvenidos a nuestra granja</h1>
                <p class="hero-description">Somos una granja semitecnificada dedicada a la cría y producción de cerdas de alta genética. Nuestra filosofía se basa en la mejora constante para satisfacer las necesidades de nuestros clientes.</p>
            </section>
        </header>
    </div>
</body>
</html>
