<div class="container">
    
    <h4 class="modal-title titulo">Editar Temperatura</h4>
    <div class="modal-body">
      <!-- Contenido del formulario para editar el usuario -->
      <form (submit)="guardarCambios()" class="form-flexbox">
        <div class="form-column">
          <div class="form-group">
            <label for="fechaT">Fecha:</label>
            <input type="date" id="fechaT" name="fechaT" [(ngModel)]="usuario.fechaT" class="form-control" placeholder="Fecha ">
          </div>
          <div class="form-group">
            <label for="temperaturaT">Temperatura:</label>
            <input type="text" id="temperaturaT" name="temperaturaT" [(ngModel)]="usuario.temperaturaT" class="form-control" placeholder="Temperatura">
          </div>
          <div class="form-group">
            <label for="horaT">Hora:</label>
            <input type="time" id="horaT" name="horaT" [(ngModel)]="usuario.horaT" class="form-control" placeholder="Hora">
          </div>
          <div class="form-group">
            <label for="observacionT">Observacion:</label>
            <input type="text" id="observacionT" name="observacionT" [(ngModel)]="usuario.observacionT" class="form-control" placeholder="Observacion">
          </div>
          <!-- Botón Guardar Cambios -->
          <button type="button" class="btn btn-primary" (click)="guardarCambios()">Guardar Cambios</button>
          <!-- Botón Cancelar -->
          <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  